@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;400;700&family=Climate+Crisis&family=Schibsted+Grotesk:wght@400;500;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('https://wallpapercave.com/wp/wp3432038.jpg');
  background-size: cover;
  background-position: center;
}

.wrapper {
    width: 1100px;
    height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #7a4141;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(47, 158, 140, 0.2);
  padding: 1rem;
}

.game-details {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 15px 50px;
    font-size: 1.2rem;
    width: 100%;
    color: #ffffff;
  }
  
  .score {
    margin-right: auto;
  }
  
  .high-score {
    margin-left: auto;
  }
  
.play-board {
  position: relative;
  display: grid;
  grid-template-rows: repeat(30, 20px);
  grid-template-columns: repeat(50, 20px);
  gap: 1px;
  background-color: #315f78;
  border: 1px solid #222;
  margin: 0 auto;
  width: 1020px;
  height: 620px;
}

.start-btn {
  display: block;
  margin: 5px;
  font-size: 1.3rem;
  background-color: #1f9b5d;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.start-btn:hover {
  background-color: #28a745;
}

.countdown {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 1;
}

.play-board .food {
  background: #ff0000db;
  border-radius: 50%;
}

.play-board .head {
  background: #115231;
  border-radius: 95%;
}

.play-board .snake-head {
  background: #6bb11f;
  border-radius: 5px;
}

.play-board .trueHead {
  background-color: #31520e;
}

.controls {
  display: none;
  justify-content: space-between;
}

.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #b8c6dc;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #59d4e0;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
    .wrapper{
        width: 90vmin;
        height: 115vmin;
    }

    .game-details{
        font-size: 1rem;
        padding: 15px 27px;
    }

    .controls{
        display: flex;
    }

    .controls i{
        padding: 15px 0;
        font-size: 1rem;
    }
}